.logo {
    background-color: black;
    height: 104px;
    font-size:80px;
    color: white;
    text-align: left;
    font-family: Arial;
}
ul.users-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.users-list > li {
    border: none;
    list-style-type: circle;
}
p.logout > a {
    color: blue;
}
.wraper-users-list {
    display: flex;
    flex-direction: column;
}