ul.menu {
    color: #fff;
    font-size: calc( 16px + (24 - 16) * (100vw - 320px) / (1140 - 320) );
    display: grid;
    grid-template-columns: 1fr 1fr;
}
li.menuList {
    border: none;
    padding: calc( 5px + (8 - 5) * (100vw - 320px) / (1140 - 320) ) calc( 5px + (20 - 5) * (100vw - 320px) / (1140 - 320) ) 0px 0px;
}