.container {
    width: 100%;
    height: 30px;
    padding: 0px;
    font-size: .875rem;
    font-family: futura-pt,sans-serif;
    letter-spacing: .4px;
    background-color: #f8f8f8;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
    height: 100%;
}
li {
    display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #ddd;
}
li:first-of-type{
    border-left: 1px solid #ddd;
}
.btn-settings-panel {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    align-content: center;
}
.img-settings-panel {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #f8f8f8;
    box-shadow: 0 0 0 1px #ddd;
    margin: 0px 17px;
}
.link {
    text-decoration: none;
    line-height: 30px;
    color: #666;
    margin: 0px 17px;
}
.link:hover {
    text-decoration: none;
    color: #666;
}